<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
        <li><a routerLink="/homes">Inicio</a></li>
        <li>
          <details open>
            <summary>Facturas</summary>
            <ul class="p-2 w-52 gap-2">
              <li class="py-2"><a routerLink="/homes/crearFacura">Crear Factura</a></li>
              <li class="py-2"><a>Ver Facturas</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/homes">
      <img ngSrc="logos/logoG.jpg" alt="logo Green Food" width="32" height="32">
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/homes">Inicio</a></li>
      <li>
        <details>
          <summary>Facturas</summary>
          <ul class="p-2 w-52 gap-2">
            <li class="py-2"><a routerLink="/homes/crearFacura">Crear Factura</a></li>
            <li class="py-2"><a>Ver Facturas</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <a class="btn" (click)="cerrarSesion()">Cerrar Sesion</a>
  </div>
</div>
