<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-10 rounded-2xl shadow-md w-full max-w-4xl">
        <h2 class="text-2xl font-bold mb-6 text-center">Crear Factura</h2>

        <form [formGroup]="facturaForm">
            <div class="grid grid-cols-4 gap-4">

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Nombre Cliente</legend>
                    <input type="text" class="input" placeholder="Nombre Cliente" list="listaClientes" formControlName="cliente"/>
                </fieldset> 

                <datalist id="listaClientes">
                    @for ( cliente of clientes; track cliente.id) {
                        <option [value]="cliente.nombre + ' - ID:' + cliente.id"></option>
                    }
                </datalist>

            </div>



        </form>
    </div>

</div>