@if (mostrarAlert === true) {
    <div role="alert" class="alert alert-success">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Cliente Actualizado</span>
    </div>
  }
  
  
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-10 rounded-2xl shadow-md w-full max-w-4xl">
      <h2 class="text-2xl font-bold mb-6 text-center">Clientes</h2>

      <div class="flex justify-end">
        <a role="button" class="btn" routerLink="/homes/crearCliente">Crear Cliente</a>
      </div>
      <div class="overflow-x-auto">
        <table class="table table-xs">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Celular</th>
              <th>Correo</th>
              <th>Direccion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (cliente of clientesPaginados.data; track cliente.id) {
            <tr>
              <td>{{cliente.id}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.celular}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.direccion}}</td>
              <td>
                <button class="btn" onclick="my_modal_4.showModal()" (click)="obtenerProducto(cliente.id)">Actualizar</button>
              </td>
            </tr>
            }
  
          </tbody>
          <tfoot>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
  
      <div class="grid grid-cols-5 gap-1">
        <div class="join col-start-3 col-end-3 mt-5">
          <button class="join-item btn" (click)="enviarAnteriorPagina(paginaActual)">«</button>
          <button class="join-item btn">Pagina {{paginaActual}}</button>
          <button class="join-item btn" (click)="enviarSiguientePagina(paginaActual)">»</button>
        </div>
      </div>
    </div>
  
    <dialog id="my_modal_4" class="modal">
      <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">Actualizar Cliente</h3>
        <form [formGroup]="ActualizarClienteForm">
  
          <div class="grid grid-cols-3 gap-4">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Nombre</legend>
              <input type="text" class="input" formControlName="nombre" />
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Celular</legend>
                <input type="text" class="input" formControlName="celular" />
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Correo</legend>
                <input type="text" class="input" formControlName="correo" />
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Direccion</legend>
                <input type="text" class="input" formControlName="direccion" />
            </fieldset>

            <input type="number" class="input" hidden formControlName="id" />
          </div>
        </form>
  
        <div class="flex justify-end items-center gap-4 mt-6">
          <button type="button" class="btn" (click)="obtenerDatosActualizadosCliente()">Actualizar</button>
          <form method="dialog">
            <button type="submit" class="btn">Cerrar</button>
          </form>
        </div>      

      </div>
    </dialog>